@model HF.Web.Models.Transaction

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OperationId" class="control-label"></label>
                <select asp-for="OperationId" class ="form-control" asp-items="ViewBag.OperationId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitId" class="control-label"></label>
                <select asp-for="UnitId" class ="form-control" asp-items="ViewBag.UnitId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CurrencyId" class="control-label"></label>
                <select asp-for="CurrencyId" class ="form-control" asp-items="ViewBag.CurrencyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OperationDateTime" class="control-label"></label>
                <input asp-for="OperationDateTime" class="form-control" />
                <span asp-validation-for="OperationDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipientId" class="control-label"></label>
                <select asp-for="RecipientId" class ="form-control" asp-items="ViewBag.RecipientId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ContractorId" class="control-label"></label>
                <select asp-for="ContractorId" class ="form-control" asp-items="ViewBag.ContractorId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
